* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: yellow;
  z-index: 1;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
nav ul li {
  list-style-type: none;
  background-color: aquamarine;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li:hover {
  background-color: bisque;
}
nav ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 30px;
}
header {
  background-color: yellow;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spoiler {
  display: inline-block;
  background-color: #f6f6f3;
  margin: 5px 2px;
  padding: 4px 10px;
  color: transparent;
  text-shadow: 0 0 5px rgb(0 0 0 / 30%);
  user-select: none;
  border-radius: 6px;
}

.question-card {
  border: 3px solid darkslateblue;
  width: 40vw;
  height: 180px;
  margin-bottom: 2%;
  border-radius: 1em;

  padding-top: 15px;
  background-color: yellowgreen;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tag-list {
  display: flex;
}
.tag-list li {
  border: 1px solid black;
  padding: 5px 15px 5px 15px;
  border-radius: 17%;
  list-style-type: none;
  margin-right: 5px;

  background-color: white;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.question-card__question {
  font-size: larger;
  text-align: center;
}

.tag-list li:hover {
  transition: 1s ease;
}

body {
  background-color: lightblue;
}

.headline {
  color: black;
  text-align: center;
  font-size: 30px;
  padding-bottom: 25px;
  position: relative;
  width: 100%;
  margin-top: auto;
}

.bookmark {
  position: absolute;
  top: -5px;
  right: 30px;
}
.bookmark p {
  font-size: 30px;
}
